{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Base Template</title>
      {% include "base/css.html" %}
  </head>
  <body>
    {% include "base/navbar.html" with brand_name="eCommerce"%}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    {% include "base/js.html" %}
        <script>
            $(document).ready(function () {
                let productForm = $(".form-product-ajax")
                productForm.submit(function(event){
                    event.preventDefault();
                    console.log("Form is not sending")

                    // We want to know the URL the submit is going to
                    // the method that is associated with it

                    let thisForm = $(this)
                    //let actionEndPoint = thisForm.attr("action");
                    let actionEndPoint = thisForm.attr("data-endpoint")
                    let httpMethod = thisForm.attr("method");
                    let formData = thisForm.serialize();


                    $.ajax({
                        url: actionEndPoint,
                        method : httpMethod,
                        data : formData,
                        success : function(data){
                            let submitSpan = thisForm.find(".submit-span")
                            if(data.added){
                                submitSpan.html("In cart<button type=\"submit\" class=\"btn btn-link\">Remove?</button>")
                            }
                            else{
                                submitSpan.html("<button class=\"btn btn-success\">Add to cart</button>")
                            }

                            // Update the count of items displayed on the cart icon
                            let navBarCount = $(".navbar-cart-count")
                            navBarCount.text(data.cartItemCount)

                            // Check the window location
                            if(window.location.href.indexOf("cart") -1){
                                refreshCart()
                            }
                        },
                        error: function(errorData){
                            console.log("Error")
                            console.log(errorData)
                        }
                    })
                })

                function refreshCart(){
                    // A helper function to make sure that the
                    // cart page is updated when "Remove" is pressed upon

                    let cartTable = $(".cart-table")
                    let cartBody = cartTable.find(".cart-body")
                    let currentUrl = window.location.href
                    let productRows = cartBody.find(".cart-products")
                    let refreshCartUrl = "/api/cart/"
                    // Using the GET method to uodate the cart
                    // Actually using the POST data to refresh the page
                    let refreshCartMethod = "GET"

                    $.ajax({
                        url: refreshCartUrl,
                        method: refreshCartMethod,
                        data: {},
                        success: function(data){
                            console.log("Success")
                            console.log(data)
                            if(data.products.length > 0){
                                productRows.html("<tr><td colspan=3>Coming Soon</td></tr>")
                                cartBody.find(".cart-subtotal").text(data.subtotal)
                                cartBody.find(".cart-total").text(data.total)
                            }
                        },
                        error: function(errorData){
                            window.location.href = currentUrl
                        }
                    })
                }
            })
        </script>
  </body>
</html>