{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Base Template</title>
      {% include "base/css.html" %}
  </head>
  <body>
    {% include "base/navbar.html" with brand_name="eCommerce"%}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    {% include "base/js.html" %}
        <script>
            $(document).ready(function () {
                let productForm = $(".form-product-ajax")
                productForm.submit(function(event){
                    event.preventDefault();
                    console.log("Form is not sending")

                    // We want to know the URL the submit is going to
                    // the method that is associated with it

                    let thisForm = $(this)
                    let actionEndPoint = thisForm.attr("action");
                    let httpMethod = thisForm.attr("method");
                    let formData = thisForm.serialize();


                    $.ajax({
                        url: actionEndPoint,
                        method : httpMethod,
                        data : formData,
                        success : function(data){
                            let submitSpan = thisForm.find(".submit-span")
                            if(data.added){
                                submitSpan.html("In cart<button type=\"submit\" class=\"btn btn-link\">Remove?</button>")
                            }
                            else{
                                submitSpan.html("<button class=\"btn btn-success\">Add to cart</button>")
                            }
                            console.log(submitSpan.html())
                        },
                        error: function(errorData){
                            console.log("Error")
                            console.log(errorData)
                        }
                    })

                })
            })
        </script>
  </body>
</html>